<div class="container-fluid">
<form [formGroup]="createRequestForm">
  <div class="row">

      <div class="col col-sm-2">
        <label>{{'buildingId' | translate}}</label>
      </div>
      <div class="col col-sm-3">
        <input type="text" formControlName="buildingId" name="buildingId" class="form-control" [(ngModel)]="_buildingId" id="buildingId"
          placeholder="{{'buildingId' | translate}}">
      </div>
 
  </div>
  <div class="row">

      <div class="col col-sm-2">
        <label>{{'floorId' | translate}}</label>
      </div>
      <div class="col col-sm-3">
        <input type="text" formControlName="floorId" name="floorId" class="form-control" [(ngModel)]="_floorId" id="floorId" placeholder="{{'floorId' | translate}}">
      </div>

  </div>
  <div class="row">
 
      <div class="col col-sm-2">
        <label>{{'bayId' | translate}}</label>
      </div>
      <div class="col col-sm-3">
        <input type="text" formControlName="bayId" name="bayId" class="form-control" [(ngModel)]="_bayId" id="bayId" placeholder="{{'bayId' | translate}}">
      </div>
 
  </div>
  <div class="row">
   
      <div class="col col-sm-2">
        <label>{{'seatCount' | translate}}</label>
      </div>
      <div class="col col-sm-3">
        <input type="text" formControlName="seatCount" name="seatCount" class="form-control" [(ngModel)]="_seatCount" id="seatCount"
          placeholder="{{'seatCount' | translate}}">
      </div>
   
  </div>
  <div class="row">
 
      <div class="col col-sm-2">
        <label>{{'projectName' | translate}}</label>
      </div>
      <div class="col col-sm-3">
        <input type="text" formControlName="projectName" name="projectName" class="form-control" [(ngModel)]="_projectName" id="projectName"
          placeholder="{{'projectName' | translate}}">
      </div>
  
  </div>
  <div class="row">
 
      <div class="col col-sm-2">
        <label>{{'requestInitiator' | translate}}</label>
      </div>
      <div class="col col-sm-3">
        <input type="text" formControlName="requestInitiator" name="requestInitiator" class="form-control" [(ngModel)]="_requestInitiator"
          id="requestInitiator" placeholder="{{'requestInitiator' | translate}}">
      </div>
 
  </div>
  <div class="row">
      <button type="button" class="btn btn-secondary" (click)="clearForm()">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="onSubmit(createRequestForm);">Submit</button>
  </div>
</form>
</div>