<div class="container">
    <form [formGroup]="baySearchForm">
        <div class="col-lg-12 col-sm-11 col-11">
            <div class="form-group col-lg-12 col-sm-11 col-11">
                <label for="Building">Building id:</label>
                <input type="text" class="form-control" formControlName="building" id="building">
            </div>
            <div class="form-group col-lg-12 col-sm-11 col-11">
                <label for="Floor">Floor id:</label>
                <input type="text" class="form-control" formControlName="floor" id="floor">
            </div>
            <div class="form-group col-lg-12 col-sm-11 col-11">
                <label for="Bay">Bay id:</label>
                <input type="text" class="form-control" formControlName="bay" id="bay">
            </div>
        </div>
        <button class="btn btn-primary size" [disabled]="!baySearchForm.valid" (click)="onSearch(baySearchForm)">Search</button>
    </form>
    <app-bay-layout [seats]="seats"></app-bay-layout>   
</div>